In [4]:
from tqdm import tqdm_notebook as tqdm
from cfb import models as cfb_models
import pandas as pd; DF=pd.DataFrame
import numpy as np

In [11]:
# Create Season Instances
for year in range(1900,2100):
    season,c = Season.objects.get_or_create(
        year=year,defaults=dict(year=year)
    )

In [27]:
import numpy as np
import pandas as pd
class DataFrameCleaner:
    def __init__(self,df):
        self.df = df
    
    def remove_chars(self,col_list=[],char_list=[],na_val=np.nan,type_coerce=str):
        for col in col_list:
            self.df[col]=self.df[col].astype(str).str.strip()
            for char in char_list:
                self.df[col]=self.df[col].str.replace(char,'')
            self.df[col]=self.df[col].replace('',np.nan)
            try:
                self.df[col]=self.df[col].astype(type_coerce)
            except ValueError:
                raise
                print(f'Type Coercsion Failed ({col})')
        return self.df
        
df=pd.read_csv('_Coaches8.csv')
display(df.head())

col_list=['SchoolPay','TotalPay','Bonus','BonusPaid','AssistantPay','Buyout']
char_list=['$',',','-']
df=DataFrameCleaner(df).remove_chars(col_list,char_list,type_coerce=int)
df.head()

,School,Conference,Coach,SchoolPay,TotalPay,Bonus,BonusPaid,AssistantPay,Buyout
0,Air Force,Mt. West,Troy Calhoun,885000,885000,247000,--,$0,--
1,Akron,MAC,Terry Bowden,"$411,000","$412,500","$225,000","$50,000",$0,"$688,500"
2,Alabama,SEC,Nick Saban,"$8,307,000","$8,307,000","$1,100,000","$500,000",$0,"$33,600,000"
3,Alabama at Birmingham,C-USA,Bill Clark,"$900,000","$900,000","$950,000","$165,471",$0,"$3,847,500"
4,Appalachian State,Sun Belt,Scott Satterfield,"$712,500","$712,500","$295,000","$145,000",$0,"$2,160,417"

ValueError: cannot convert float NaN to integer

## Create Coach/Conference Instances

In [15]:
df=pd.read_csv('_Coaches8.csv')
# Clean Numerical Columns and conver to floats
# Make Pay in millions of dollars
cols=['SchoolPay','TotalPay','Bonus','BonusPaid','AssistantPay','Buyout']
replace_list = ['$',',','-']
for col in cols:
    df[col]=df[col].astype(str).str.strip()
    for char in replace_list:
        df[col]=df[col].str.replace(char,'')
    df[col]=df[col].replace('',np.nan)
season = Season.objects.get(year=2019)
print(f'------------- FB Season: {season} ------------------')
for tup in tqdm(df.itertuples()):
    # get or create school
    school,c=cfb_models.School.objects.get_or_create(
        name=tup.School,defaults=dict(name=tup.School)
    )
    # get or create team
    team,c=cfb_models.Team.objects.get_or_create(
        school=school,type='Football',
        defaults=dict(school=school,type='Football')
    )
    # get or create conference
    conf,c=cfb_models.Conference.objects.get_or_create(
        name=tup.Conference,defaults=dict(name=tup.Conference)
    )
    
    # get or create coach
    coach_name_arr = tup.Coach.strip().split(' ')
    cfn=coach_name_arr[0]; cln=coach_name_arr[1]
    coach,c = cfb_models.Coach.objects.get_or_create(
        firstName=cfn,lastName=cln,
        defaults=dict(firstName=cfn,lastName=cln)
    )
    
    # get or create team season
    tseason,c = TeamSeason.objects.update_or_create(
        team=team,season=season,conference=conf,coach=coach,
        defaults=dict(team=team,season=season,conference=conf,coach=coach)
    )
    print(tseason)

------------- FB Season: 2019 ------------------

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

2019, Football, Air Force
2019, Football, Akron
2019, Football, Alabama
2019, Football, Alabama at Birmingham
2019, Football, Appalachian State
2019, Football, Arizona
2019, Football, Arizona State
2019, Football, Arkansas
2019, Football, Arkansas State
2019, Football, Army
2019, Football, Auburn
2019, Football, Ball State
2019, Football, Baylor
2019, Football, Boise State
2019, Football, Boston College
2019, Football, Bowling Green
2019, Football, Brigham Young
2019, Football, Buffalo
2019, Football, California
2019, Football, Central Florida
2019, Football, Central Michigan
2019, Football, Charlotte
2019, Football, Cincinnati
2019, Football, Clemson
2019, Football, Coastal Carolina
2019, Football, Colorado
2019, Football, Colorado State
2019, Football, Connecticut
2019, Football, Duke
2019, Football, East Carolina
2019, Football, Eastern Michigan
2019, Football, Florida
2019, Football, Florida Atlantic
2019, Football, Florida International
2019, Football, Florida State
2019, Football, Fresno State
2019, Football, Georgia
2019, Football, Georgia Southern
2019, Football, Georgia State
2019, Football, Georgia Tech
2019, Football, Hawaii
2019, Football, Houston
2019, Football, Illinois
2019, Football, Indiana
2019, Football, Iowa
2019, Football, Iowa State
2019, Football, Kansas
2019, Football, Kansas State
2019, Football, Kent State
2019, Football, Kentucky
2019, Football, Liberty
2019, Football, Louisiana Tech
2019, Football, Louisiana-Lafayette
2019, Football, Louisiana-Monroe
2019, Football, Louisville
2019, Football, LSU
2019, Football, Marshall
2019, Football, Maryland
2019, Football, Massachusetts
2019, Football, Memphis
2019, Football, Miami (Fla.)
2019, Football, Miami (Ohio)
2019, Football, Michigan
2019, Football, Michigan State
2019, Football, Middle Tennessee
2019, Football, Minnesota
2019, Football, Mississippi
2019, Football, Mississippi State
2019, Football, Missouri
2019, Football, Navy
2019, Football, Nebraska
2019, Football, Nevada
2019, Football, Nevada-Las Vegas
2019, Football, New Mexico
2019, Football, New Mexico State
2019, Football, North Carolina
2019, Football, North Carolina State
2019, Football, North Texas
2019, Football, Northern Illinois
2019, Football, Northwestern
2019, Football, Notre Dame
2019, Football, Ohio
2019, Football, Ohio State
2019, Football, Oklahoma
2019, Football, Oklahoma State
2019, Football, Old Dominion
2019, Football, Oregon
2019, Football, Oregon State
2019, Football, Penn State
2019, Football, Pittsburgh
2019, Football, Purdue
2019, Football, Rice
2019, Football, Rutgers
2019, Football, San Diego State
2019, Football, San Jose State
2019, Football, South Alabama
2019, Football, South Carolina
2019, Football, South Florida
2019, Football, Southern California
2019, Football, Southern Methodist
2019, Football, Southern Mississippi
2019, Football, Stanford
2019, Football, Syracuse
2019, Football, Temple
2019, Football, Tennessee
2019, Football, Texas
2019, Football, Texas A&M
2019, Football, Texas Christian
2019, Football, Texas State
2019, Football, Texas Tech
2019, Football, Texas-El Paso
2019, Football, Texas-San Antonio
2019, Football, Toledo
2019, Football, Troy
2019, Football, Tulane
2019, Football, Tulsa
2019, Football, UCLA
2019, Football, Utah
2019, Football, Utah State
2019, Football, Vanderbilt
2019, Football, Virginia
2019, Football, Virginia Tech
2019, Football, Wake Forest
2019, Football, Washington
2019, Football, Washington State
2019, Football, West Virginia
2019, Football, Western Kentucky
2019, Football, Western Michigan
2019, Football, Wisconsin
2019, Football, Wyoming

In [8]:
df

,School,Conference,Coach,SchoolPay,TotalPay,Bonus,BonusPaid,AssistantPay,Buyout
0,Air Force,Mt. West,Troy Calhoun,885000,885000,247000,--,$0,--
1,Akron,MAC,Terry Bowden,"$411,000","$412,500","$225,000","$50,000",$0,"$688,500"
2,Alabama,SEC,Nick Saban,"$8,307,000","$8,307,000","$1,100,000","$500,000",$0,"$33,600,000"
3,Alabama at Birmingham,C-USA,Bill Clark,"$900,000","$900,000","$950,000","$165,471",$0,"$3,847,500"
4,Appalachian State,Sun Belt,Scott Satterfield,"$712,500","$712,500","$295,000","$145,000",$0,"$2,160,417"
...,...,...,...,...,...,...,...,...,...
125,West Virginia,Big 12,Dana Holgorsen,"$3,605,000","$3,617,500","$1,000,000","$90,000",$0,"$7,150,000"
126,Western Kentucky,C-USA,Mike Sanford Jr.,"$800,000","$805,850","$400,000",$0,$0,"$1,200,000"
127,Western Michigan,MAC,Tim Lester,"$800,000","$800,000","$346,500","$39,250",$0,"$800,000"
128,Wisconsin,Big Ten,Paul Chryst,"$3,750,000","$3,750,000",--,"$290,000",$0,"$6,000,000"
129,Wyoming,Mt. West,Craig Bohl,"$1,412,000","$1,412,000","$450,000","$236,000",$0,"$8,016,667"